body {
    background-color: #7897AB;
    color: #010101;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.Title {
    color: #fff;
    text-shadow: 0px 1px 0px rgb(0, 0, 0), 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font: 3rem 'ChunkFiveRegular';
    margin: 0;
    padding: 1rem;
}

.crud {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.form {
    background: url('./assets/ImageForm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    padding: 2rem;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    margin: 3rem;
    max-height: 30rem;
    border-radius: 5px;
    position: relative;

}

.form::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

label {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background: transparent;
    border: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
    border-bottom: 1px solid #000;
    position: relative;
    color: #000;
    letter-spacing: 2px;
    font-weight: bold;
}

textarea {
    min-width: 20rem;
    min-height: 10rem;
    max-width: 20rem;
    max-height: 10rem;
}

input:focus,
textarea:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    letter-spacing: 4px;
}

strong {
    color: #23107a;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.addNote {
    display: block;
    position: relative;
    background: linear-gradient(to bottom, #59C173, #000000);
}


.notes {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 1rem;
    margin: 0 5rem;
}

.note {
    width: 100%;
    border-radius: 13px;
    background: #7897AB;
    box-shadow: 23px 23px 65px #627c8c,
        -23px -23px 65px #8eb2ca;
    padding: 1rem;
    margin: 2rem 0;
}

.btn {
    border:none;
    padding: 1rem 2rem; 
    margin:.5rem;
    border-radius: 1rem ; 
    color: #ffe;
}
.btnDelete{
    background: #c31432; 
    background: linear-gradient(to bottom, #c31432, #200108);
}


.noteTitle {
    color: #23107a;
    font-weight: bold;
}

.noteContent {
    color: #000000;
    font-weight: bold;
    letter-spacing:1px;
}

.noteImportant  h1{
    color: #f00;
}